<div class="jumbotron">
	<div class="container">
	<h1 class="titulo"> Mi Pinterest </h1>
	<a href="http://www.google.com" target="_blank" class="btn btn-primary"> 
		<span class="glyphicon glyphicon-camera"></span>
		Búsqueda		 
	</a>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="page-header">
				<h2 style="display: inline;"> Example </h2>
				<span class="label label-default">New</span>
			</div>
			<a href="http://www.google.com" target="_blank"> Búsqueda </a>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="col-md-4">
			<div class="page-header">
				<h2> Example </h2>
			</div>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>		

		<div class="col-md-4">
			<div class="page-header">
				<h2> Example </h2>
			</div>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<h6> Sub sub subtítulo </h6>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<a href="#">
				<img src="https://anthesisgroup.com/wp-content/uploads/2017/03/target-rectangle.png" id="img1" alt="Logo página" class="img-fluid">
			</a>

			<hr>
			<br>

			<img src="https://s-media-cache-ak0.pinimg.com/originals/d0/54/89/d054890aa6a20fe5273d24feff7acc79.jpg" class="img-fluid">

			<ul>
				<li> Item 1</li>
				<li> Item 2</li>
				<li> Item 3</li>
			</ul>

		</div>	
	</div>	
</div>	

